html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
	margin: 0;
	border-style: none;
	text-decoration: none;
	list-style: none;
	color: inherit;
	font-family: inherit;
  box-sizing: border-box;
}

html {
	font-size: 16px;
}
body {
	height: 100%;
	width: 100%;
  min-width: 655px;
  max-width: 900px;
	margin: 0 auto;
	background-color: #0F0F0F;
	color: black;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	letter-spacing: .2rem;
}

#header, #sidebar, #problem {
  text-align: right;
}
#sidebar, #problem {
  display: inline-block;
}

/*Header*/
	#header {
		background-color: #E2A538;
		height: 10rem;
		border-radius: 6rem 5rem 5rem 0;
	}
		#welcometext {
			background-color: #0F0F0F;
			color: #E2A538;
			font-size: 2.5rem;
      word-spacing: 20px;
			display: inline; /* Width control. */
			padding: 0 1.8rem;
			margin-right: 5rem;
		}

    /*HUD*/
    	#dialogue {
    		background-color: #0F0F0F;
        border-radius: 5rem 0 0 0;
        padding: 2rem;
        margin-left: 15%;
        margin-right: 5rem;
        font-size: 0;
    	}
        #values {
          background-color: #CE7935;
          border-radius: 1rem;
        }
        #values, #labels {
          padding-right: 1rem;
          font-size: 1rem;
          margin: 1rem 0;
        }
          #seconds, #score, #timertext, #scoretext {
            display:inline-block;
            border: solid .5rem black;
            border-width: 0 .5rem;
          }
          #seconds, #score {
            padding: .35rem .25rem;
          }
          #seconds, #timertext {
            width: 15rem;
            background-color: #B05D5D;
            border-color: #0F0F0F;
          }
          #score, #scoretext {
            width: 6.5rem;
            background-color: #9FC67E;
            border-color: #0F0F0F;
          }
          #timertext, #scoretext{
            padding: 5rem .25rem .25rem;
            letter-spacing: .1rem;
            font-size: .9rem;
          }


/*Sidebar*/
#sidebar {
  width: 15%;
	font-size: 1.2rem;
	letter-spacing: 0;
}
  #sidebar > div {
    margin: .5rem 0;
		padding: 1rem .5rem;
	}
	#time {
		background-color: #D7A750;
	}
	#status {
		background-color: #D7AC9C;
	}
	#restart {
		background-color: #C4825E;
	}
	#foot {
		height: 10rem;
		border-radius: 0rem 0rem 10rem 10rem;
		background-color: #AD6039;
	}

/* Question & Response*/
#problem {
  position: relative;
  font-weight: bold;
  letter-spacing: .1rem;
  padding-left: 2rem;
  width: 70%;
  vertical-align: 2rem;
}
  #question {
    font-size: 2rem;
    padding: 1rem 1.75rem;
    background-color: #CE7935;
    border-radius: 2rem 1.5rem 0 2rem;
  }
#response {
  position: absolute;
  right: 0;
  color: black;
  height: 2rem;
  width: 10rem;
  padding: 0 1rem;
  text-align: center;
  font-size: .8rem;
  font-weight: lighter;
  border: none;
  border-radius: 0 0 .5rem .5rem;
}
  #response:focus {
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
    box-shadow: none;
    outline: none;
  }
  .hidden {
    display: none;
  }
  .grade {
    background-color: gray;
  }
  .fail {
    background-color: #430000;
  }
